*{
	text-align:center;
	color:white;
	box-sizing: border-box;
}

body{
	background:black;
}

footer{
	margin-top:5em;
	border:white dashed 3px;
	height:3em;
	padding-top:1em;
	letter-spacing: 5px;
}

header{
	padding-top:3em;
	margin-bottom:5em;
	position:relative;
	width:100%;
	height:150px;
	border:white solid 5px;
	left:0%;
	top:0%;
	float:none;
}

header p{
	font-size:36px;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}



.white-box{
	vertical-align: top;
	padding-top:2em;
	border:white dotted 2px;
	height:600px;
	width:200px;
	display:inline-block;
}

#container{
	width:100%;	
}

#word{
	letter-spacing: 15px;
	padding-left:10px;
}